<form *ngIf="form" [formGroup]="form" class="phone-input-container">
    <div class="country-box">
        <span>Phone:</span>
        <searchable-select formControlName="country" placeholder="Countries" [options]="countries">
            <ng-template #triggerTemplate let-value>
                <div>
                    <span *ngIf="value" class="country-option">
                        <span class="country-name">{{ value.name }}</span>
                    </span>
                </div>
            </ng-template>
        
          
            <ng-template #optionTemplate let-country>
                <div>
                    <span class="country-option">
                        <span class="country-name">{{ country.name }}</span>
                        <span class="dial-code">{{ country.dialCode }}</span>
                    </span>
                </div>
            </ng-template>
        </searchable-select>
    </div>

    <div class="phone-box">
        <span>Mobile:</span>
        <mat-form-field appearance="outline">
            <input matInput
                inputmode="tel"
                formControlName="phone"
                [placeholder]="selectedCountry?.mask || 'Enter phone number'"
                [mask]="selectedCountry?.mask || ''"
                [validation]="true"
                [pattern]="selectedCountry?.pattern "
                >
            <span matTextPrefix *ngIf="selectedCountry">{{selectedCountry.code}}</span>
            <mat-error>{{ getErrorMessage('phone') }}</mat-error>
          </mat-form-field>
    </div>
  </form>