<div class="container">  
    <mat-card>
      <mat-card-title>
        <h2>
            Contact Info Form
        </h2>
    </mat-card-title>
      <mat-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="onSave()">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="contactForm.get('name').hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>
            <international-phone-number formControlName="phoneNumber"></international-phone-number>
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="Message" formControlName="message"></textarea>
            </mat-form-field> 
          </form>

          <div class="actions">
            <button mat-flat-button [disabled]="contactForm.invalid" (click)="onSave()">save</button>
            <button mat-flat-button (click)="onReset()">reset</button>
          </div>

      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="contactForm.controls['phoneNumber'].value && contactForm.controls['phoneNumber'].valid">
      <mat-card-title>
        <h2>
            PhoneNumber
        </h2>
    </mat-card-title>
      <mat-card-content>
        <span>{{contactForm.controls['phoneNumber'].value}}</span>

      </mat-card-content>
    </mat-card>

  </div>





